{% extends "base.html" %}

{%block content%}
<div class="container" style="color:aliceblue; margin-top: 50px;">
  <a href="{{url_for('organizer')}}" class="btn btn-primary" style="background-color: red;">Back</a>
                
    <form method="post" action="">
      <label  class="col-sm-2 col-form-label">Stage</label>    
      <select name="stage" class="form-control" id="stage">
        {% for stage in stages %}
        <option value="{{stage.id}}">{{stage.name}}</option>
        {% endfor %}
    </select>
      <label  class="col-sm-2 col-form-label">Interpret</label>    
      <select name="interpret" class="form-control" id="interpret">
        {% for interpret in interprets %}
        <option value="{{interpret.id}}">{{interpret.name}}</option>
        {% endfor %}
    </select>
      <button type="submit" class="border border-secondary btn btn-secondary" style="margin-top: 10px;">Add interpret to stage</button>
      {% if contains %}
        <small style="color: red;">Interpret is already on the stage</small>
        {% endif %}
    </form>
  </div>
{%endblock%}