{% extends "base.html" %}

{%block content%}
<h1 class="center_color" style="margin-top: 50px;"> Tickets for festival: {{festival.name}}</h1>
<div class="container-flex" style="margin-top: 20px; margin-left: 300px; width: 200px;">
    <form action="" method="post" style="color: aliceblue;">
        {% if not current_user.is_authenticated %}
        <label class="col-form-label">E-mail</label>
        <input class="form-control emph" type="email" name="email" value ="{{email if email}}" required>
        {% endif %}
        <label  class=" col-form-label">Amount of tickets (1-20) </label>
        <input type="number" class="form-control emph" name="num" value ="{{num if num}}" placeholder="" min="1" max="20"/>
        <button type="submit" class="border border-secondary btn btn-secondary" style="margin-top: 10px; background-color: rgb(4, 161, 4);">Create reservation</button>
    </form>
</div>
{%endblock%}