{% extends "base.html" %}

{%block content%}

    <form id="form" class="box"  method="post" action="">
        <h1>Login</h1>
        <input type="text" name="login" value ="{{login if login}}" placeholder="Login"/>
        <input type="password" name="password" value ="{{password if password}}" placeholder="Password"/>
        <button class="green-button" type="submit" >Login</button>
      <button class="red-button" value="regbutton" name="regbutton" type="submit" >Register</button>
    </form>


{%endblock%}