{% extends "base.html" %}

{%block content%}

    <form id="form" class="box"  method="post" action="">
        <h1>Login</h1>
        <small style="color: orange;">Required fields are marked with *</small>
        {% if wrongLogin %}
        <small style="color: red;">Wrong username or password.</small>
        {% endif %}

        <input type="text" name="login" value ="{{login if login}}" placeholder="Login *" required/>
        <input type="password" name="password" value ="{{password if password}}" placeholder="Password *" required/>
        <button class="green-button" type="submit" >Login</button>
        <a class="out_form red-button" style="width: 150px; " href="{{url_for('register', reservation='new_user')}}" >Register</button>
    </form>



{%endblock%}