{% extends "base.html" %}
  
        
{% block content %}
<script>
  function getDate() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; // January is 0
    var yyyy = today.getFullYear();
  
    if(dd < 10){
        dd = '0' + dd
    } 
  
    if(mm < 10){
        mm = '0' + mm
    } 
  
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("date_start").min = today;
    document.getElementById("date_end").min = today;
  }
  
  window.onload = function() {
    getDate();
  };

  function validateDate(){
    const start = new Date(document.forms["Festival"]["date_start"].value);
    const end = new Date(document.forms["Festival"]["date_end"].value);
    if(start > end){
      alert("Illegal date interval!");
      return false;
    }
  }
</script>

      <div class="container-flex border-10 rounded border border-dark" style="background-color: rgb(46, 44, 44); overflow-y: scroll; height: 50vh; margin-top: 20px;">
        <h1 class="display-4 center_color" style="margin-top: 40px;"> Festival table </h1>
        <table class="admin_user_table" style="margin-bottom: 30px;">
          <div class="container-flex" style="position: sticky; background-color: rgb(46, 44, 44); position: -webkit-sticky; top:0; z-index: 999;"> 
            <thead>
              <tr>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">ID</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Name</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Description</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Genre</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Paid on spot</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Date Start</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Date End</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Location</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Price</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Max capacity</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Remaining capacity</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Number of sold tickets</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Stages</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Edit</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Delete Festival</th>
              </tr>
            </thead>    
          </div>
          <tbody>
            {% for festival in festivals %} 
            {% if convToStr(festival_to_edit_id) == convToStr(festival.id) %}
            <form method="post" action="" name="Festival">
             <tr>
               <td>{{festival.id}}</td>
               <td><input type="text" style="width: 80px;" name="name" value="{{name if name}}" placeholder={{festival.name}}/></td>
               <td><input type="text" style="width: 100px;" name="description" value="{{description if description}}"/></td>
               <td><select name="genre" value="{{genre if genre}}" placeholder={{festival.genre}}>
                 <option value=""></option>
                 <option value="blues">Blues</option>
                 <option value="country">Country</option>
                 <option value="dubstep">Dubstep</option>
                 <option value="electro">Electro</option>
                 <option value="folk">Folk</option>
                 <option value="jazz">Jazz</option>
                 <option value="metal">Metal</option>
                 <option value="party">Party</option>
                 <option value="pop">Pop</option>
                 <option value="rap">Rap</option>
                 <option value="r&b and soul">R&B and soul</option>
                 <option value="rock">Rock</option>
                 <option value="techno">Techno</option>
               </select>
               </td>
               {% if festival.paid_on_spot == 1 %}
                 <td><input checked type="checkbox" style="width: 20px; height: 20px;" name="paid_on_spot" value="{{paid_on_spot if paid_on_spot}}"/></td>
               {% else %}
                 <td><input type="checkbox" style="width: 20px; height: 20px;" name="paid_on_spot" value="{{paid_on_spot if paid_on_spot}}"/></td>
               {% endif %}
               <td><input type="date" style="width: 145px;" name="date_start" id="date_start" value="{{date_start if date_start}}" max="2030-12-31"/></td>
               <td><input type="date" style="width: 145px;" name="date_end" id="date_end" value="{{date_end if date_end}}" max="2030-12-31"/></td>
               <td><input type="text" style="width: 80px;" name="location" value="{{location if location}}" placeholder={{festival.location}}/></td>
               <td><input type="number" style="width: 50px;" name="price" value="{{price if price}}" min="" placeholder={{festival.price}}/></td>
               <td><input type="number" style="width: 70px;" name="max_capacity" value="{{max_capacity if max_capacity}}" min="1" placeholder={{festival.max_capacity}}></td>
               <td>{{festival.remaining_capacity}}</td>
               <td>{{length(festival.tickets_F)}}</td>
               <td>{% for stg in festival.stages %}
                 {{stg.name + ", "}}
               {% endfor %}</td>
               <td>
                 <button style="width: 80px; margin-bottom:5px; background-color:  rgb(4, 161, 4);" type="submit" name="submit_festival" value="{{festival.id}}" class="btn btn-primary" onclick="return validateDate();">Submit</button>
                 <a href="{{url_for('organizer')}}" style="width: 80px; margin-bottom:5px; background-color:  red;" type="cancel" name="cancel_changes" value="{{festival.id}}" class="btn btn-primary">Cancel</button>
               </td>
               <td><a href="{{url_for('remove_festival', id=festival.id)}}" class="btn btn-primary" style="background-color: red;">Delete</a></td>
             </tr>
           </form>
            
            {% else %} 
                   <tr>
                       <td>{{festival.id}}</td>
                       <td>{{festival.name}}</td>
                       <td>{{festival.description}}</td>
                       <td>{{festival.genre}}</td>
                       <td>{% if festival.paid_on_spot == 1 %} Paid on spot {% else %} Paid online {% endif %}</td>
                       <td>{{festival.date_start}}</td>
                       <td>{{festival.date_end}}</td>
                       <td>{{festival.location}}</td>
                       <td>{{festival.price}}</td>
                       <td>{{festival.max_capacity}}</td>
                       <td>{{festival.remaining_capacity}}</td>
                       <td>{{length(festival.tickets_F)}}</td>
                       <td>{% for stg in festival.stages %}
                           {{stg.name + ", "}}
                         {% endfor %}
                       </td>
                       <form method="post" action="">
                         <td>
                           <button type="submit" class="btn btn-primary" name="edit_festival" value="{{festival.id}}" style="background-color: rgb(4, 161, 4);">Edit</button>
                         </td>
                       </form>
                       <td><a href="{{url_for('remove_festival', id=festival.id)}}" class="btn btn-primary" style="background-color: red;">Delete</a></td>
                   </tr>
               {% endif %}
               {% endfor %}
         </tbody>
        </table>
      </div>  
           
        <td><a href="{{url_for('add_festival')}}" class="btn btn-primary center_but" style="background-color: rgb(4, 161, 4);">Add festival</a></td>

      <div class="container-flex border-10 rounded border border-dark" style="background-color: rgb(46, 44, 44); overflow-y: scroll; height: 50vh; margin-top: 20px;">
        <h1 class="display-4 center_color" style="margin-top: 40px;"> Stage table </h1>
        <table class="admin_user_table" style="margin-bottom: 30px;">
        <div class="container-flex" style="position: sticky; background-color: rgb(46, 44, 44); position: -webkit-sticky; top:0; z-index: 999;"> 
          <thead>
            <tr>
                <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">ID</th>
                <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Name</th>
                <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Festival Name</th>
                <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Performers</th>
                <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Manage Interprets</th>
                <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Manage Schedules</th>
                <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Edit</th>
                <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Delete Stage</th>
            </tr>
            </thead>    
        </div>
        <tbody>
          {% for stage in stages %}
          {% if convToStr(stage_to_edit_id) == convToStr(stage.id) %}
          <form method="post" action="">
           <tr>
             <td>{{stage.id}}</td>
             <td><input type="text" style="width: 120px;" name="name" value="{{name if name}}" placeholder={{stage.name}}/></td>
             <td>
               <select name="festival_name" style="width: 130px;" class="form-control" id="festival_name">
                 <option value=""></option>
                 {% for festival in festivals %}
                   <option value="{{festival.id}}">{{festival.name}}</option>
                 {% endfor %}
               </select>
             </td>
             
             <td>
               {% for performer in stage.performers %}    
               {{performer.name + ", "}}
               {% endfor %}
             </td>
             <td><a href="{{url_for('add_interpret_to_stage', name = stage.name)}}" class="btn btn-primary" >Add/Remove</a></td>
             <td><a href="{{url_for('manage_schedules',name = stage.name)}}" class="btn btn-primary" >Add/Remove</a></td>

             <td>
               <button style="width: 80px; margin-bottom:5px; background-color:  rgb(4, 161, 4);" type="submit" name="submit_stage" value="{{stage.id}}" class="btn btn-primary">Submit</button>
               <a href="{{url_for('organizer')}}" style="width: 80px; margin-bottom:5px; background-color:  red;" type="cancel" name="cancel_stage" value="{{stage.id}}" class="btn btn-primary">Cancel</button>
             </td>
             <td><a href="{{url_for('remove_stage', id=stage.id)}}" class="btn btn-primary" style="background-color: red;">Delete</a></td>
           </tr>
         </form>
          {% else %}
             <tr>
                 <td>{{stage.id}}</td>
                 <td>{{stage.name}}</td>
                 <td>{{stage.festival.name}}</td>
                 <td>
                   {% for performer in stage.performers %}    
                   {{performer.name + ", "}}
                   {% endfor %}
                 </td>
                 <td><a href="{{url_for('add_interpret_to_stage', name = stage.name)}}" class="btn btn-primary">Add/Remove</a></td>
                 <td><a href="{{url_for('manage_schedules',name = stage.name)}}" class="btn btn-primary" >Add/Remove</a></td>
                 <form method="post" action="">
                   <td>
                     <button type="submit" class="btn btn-primary" name="edit_stage" value="{{stage.id}}" style="background-color: rgb(4, 161, 4);">Edit</button>
                   </td>
                 </form>
                 <td><a href="{{url_for('remove_stage', id=stage.id)}}" class="btn btn-primary" style="background-color: red;">Delete</a></td>
             </tr>
           {% endif %}
           {% endfor %}
           </tbody>
        </table>
      </div>
          
              <td><a href="{{url_for('add_stage')}}" class="btn btn-primary center_but" style="background-color: rgb(4, 161, 4);">Add stage</a></t>
      

        <div class="container-flex border-10 rounded border border-dark" style="background-color: rgb(46, 44, 44); overflow-y: scroll; height: 50vh; margin-top: 20px;">
          <h1 class="display-4 center_color" style="margin-top: 40px;"> Interpret table </h1>
          <table class="admin_user_table" style="margin-bottom: 30px;">
          <div class="container-flex" style="position: sticky; background-color: rgb(46, 44, 44); position: -webkit-sticky; top:0; z-index: 999;"> 
            <thead>
              <tr> 
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">ID</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Name</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Members</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Rating</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Genre</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Stages</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Edit</th>
                  <th style="position: sticky; position: -webkit-sticky; top:0; z-index: 999;">Delete Interpret</th>
              </tr>
              </thead>    
          </div>
          <tbody>
            {% for interpret in interprets %}
            {% if convToStr(interpret_to_edit_id) == convToStr(interpret.id) %}
            <form method="post" action="">
              <tr>
                <td>{{interpret.id}}</td>
                <td><input type="text" style="width: 120px;" name="name" value="{{name if name}}" placeholder={{interpret.name}}/></td>
                <td><input type="text" style="width: 120px;" name="members" value="{{members if members}}" placeholder={{interpret.members}}/></td>
                <td><input type="number" style="width: 120px;" name="rating" value="{{rating if rating}}" placeholder={{interpret.rating}} min="0" max="10"/></td>
                <td><select name="genre" value="{{genre if genre}}" placeholder={{interpret.genre}}>
                 <option value=""></option>
                 <option value="blues">Blues</option>
                 <option value="country">Country</option>
                 <option value="dubstep">Dubstep</option>
                 <option value="electro">Electro</option>
                 <option value="folk">Folk</option>
                 <option value="jazz">Jazz</option>
                 <option value="metal">Metal</option>
                 <option value="party">Party</option>
                 <option value="pop">Pop</option>
                 <option value="rap">Rap</option>
                 <option value="r&b and soul">R&B and soul</option>
                 <option value="rock">Rock</option>
                 <option value="techno">Techno</option>
               </select>
               </td>
               <td>
                 {% for stg in interpret.stages %}    
                 {{stg.name + ", "}}
                 {% endfor %}
               </td>
               <td>
                 <button style="width: 80px; margin-bottom:5px; background-color:  rgb(4, 161, 4);" type="submit" name="submit_interpret" value="{{interpret.id}}" class="btn btn-primary">Submit</button>
                 <a href="{{url_for('organizer')}}" style="width: 80px; margin-bottom:5px; background-color:  red;" type="cancel" name="cancel_interpret" value="{{interpret.id}}" class="btn btn-primary">Cancel</button>
               </td>
               <td><a href="{{url_for('remove_interpret', id=interpret.id)}}" class="btn btn-primary" style="background-color: red;">Delete</a></td>
              </tr>
            </form>
            {% else %}
                   <tr>
                       <td>{{interpret.id}}</td>
                       <td>{{interpret.name}}</td>
                       <td>{{interpret.members}}</td>
                       <td>{{interpret.rating}}</td>
                       <td>{{interpret.genre}}</td>
                       <td>
                         {% for stg in interpret.stages %}    
                         {{stg.name + ", "}}
                         {% endfor %}
                       </td>
                       <form method="post" action="">
                         <td>
                           <button type="submit" class="btn btn-primary" name="edit_interpret" value="{{interpret.id}}" style="background-color: rgb(4, 161, 4);">Edit</button>
                         </td>
                       </form>
                       <td><a href="{{url_for('remove_interpret', id=interpret.id)}}" class="btn btn-primary" style="background-color: red;">Delete</a></td>
                   </tr>
               {% endif %}
               {% endfor %}
             </tbody>
         </table>
        </div>
          
              
          <td><a href="{{url_for('add_interpret')}}" class="btn btn-primary center_but" style="background-color: rgb(4, 161, 4); margin-bottom: 30px;">Add interpret</a></td>

        {% endblock %}