{% extends "base.html" %}
{%block content%}

   <form id="form" class="box" method="post" action "">
      <h1>Create an account</h1>
      <input type="text" name="name" value ="{{name if name}}" placeholder="First name"/>
      <input type="text" name="surname" value ="{{surname if surname}}" placeholder="Surname"/>
      <input type="text" name="login" value ="{{login if login}}" placeholder="Login"/>
      <input type="password" name="password" value ="{{password if password}}" placeholder="Password"/>
      <button class="green-button" type="submit">Register</button>
      <button name="loginbutton" value="loginbutton" class="red-button" type="submit">Login</button>
   </form>

{%endblock%}