{% extends "base.html" %}
{%block content%}

   <form id="form" class="box" method="post" action "">
      <h1>Create an account</h1>
      <small style="color: orange;">Required fields are marked with *</small>
      <input type="text" name="name" value ="{{name if name}}" placeholder="First name"/>
      <input type="text" name="surname" value ="{{surname if surname}}" placeholder="Surname"/>
      <input type="text" name="login" value ="{{login if login}}" placeholder="Login *" required/>
      <input type="password" name="password" value ="{{password if password}}" placeholder="Password *" required/>
      <button class="green-button" type="submit">Register</button>
      <a class="out_form red-button" style="width: 130px; " href="{{url_for('login')}}" >Login</button>
      </form>

{%endblock%}